<aside>
  <div class="text-center mb-3">
    <a href="/">
      <img src="/images/movietime2.png" alt="MOVIETIME" style="max-width:140px; width:80%; height:auto;">
    </a>
  </div>
  <a href="/mant_peliculas">PELICULAS</a>
  <a href="/create">REGISTRAR PELÍCULA</a>
  <a href="/desarrollador">DESARROLLADOR</a>
  <a href="/carrera">CARRERA</a>
</aside>