<aside>
  <div class="text-center mb-3">
    <a href="/dashboard">
      <img src="/images/nova_salud.png" alt="MOVIETIME" style="max-width:140px; width:80%; height:auto;">
    </a>
  </div>
  <a href="/productos">PRODUCTOS</a>
  <a href="/proveedores">PROVEEDORES</a>
  <a href="/ventas">VENTAS</a>
  <a href="/clientes">CLIENTES</a>
  <a href="/reportes">REPORTES</a>
</aside>