<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CREATE</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
  <header>
    <nav><!-- navegación  --></nav>
  </header>
  <main>
    <section class="container mt-3">
      <form action="" autocomplete="off">
        <div class="card">
          <div class="card-header"><strong>Complete el Formulario</strong></div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 mb-2">
                <div class="form-floating">
                  <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Título de la Película" required>
                  <label for="form-label">Título de la Película</label>
                </div>
              </div>
            </div>
            <div class="row g-2">
              <div class="col-md-6">
                <div class="form-floating">
                  <input type="number" class="form-control text-center" value="60" min="30" max="240" step="15" id="duracion" name="duracion" placeholder="Duración en Minutos" required>
                  <label for="form-label">Duración en Minutos</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating">
                  <input type="text" class="form-control text-center" pattern="[0-9]+" minlength="4" maxlength="4" id="fecha_estreno" name="fecha_estreno" placeholder="Fecha de Estreno" required>
                  <label for="form-label">Fecha de Estreno</label>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer text-end">
            <button type="submit" class="btn btn-primary btn-sm">Guardar</button>
            <a href="./" class="btn btn-secondary btn-sm">Cancelar</a>
          </div>
        </div>
      </form>
    </section>
  </main>
  <footer>
    <!-- pie de la página -->
  </footer>
</body>
</html>