<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CREATE</title>
</head>
<body>
    <h1>PAGINA PARA CREAR CONTENIDO</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
       Sed enim unde tempora quaerat? Cum ipsam ullam harum optio illum laboriosam,
      soluta eius, nulla quo commodi at corporis velit veritatis incidunt.
    </p>
</body>
</html>