<main class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <section class="col-12 col-md-6 col-lg-4">
    <form action="/create" method="POST" autocomplete="off">
      <div class="card">
        <div class="card-header text-center"><strong>Registrar Película</strong></div>
        <div class="card-body">
          <div class="mb-3 form-floating">
            <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Título de la Película" required>
            <label for="titulo">Título de la Película</label>
          </div>
          <div class="mb-3 form-floating">
            <input type="text" class="form-control" id="autor" name="autor" placeholder="Autor" required>
            <label for="autor">Autor</label>
          </div>
          <div class="mb-3 form-floating">
            <input type="number" class="form-control text-center" value="60" min="30" max="240" step="15"
              id="duracion" name="duracion" placeholder="Duración en Minutos" required>
            <label for="duracion">Duración en Minutos</label>
          </div>
          <div class="mb-3 form-floating">
            <input type="text" class="form-control text-center" pattern="[0-9]+" minlength="4" maxlength="4"
              id="fecha_estreno" name="fecha_estreno" placeholder="Fecha de Estreno" required>
            <label for="fecha_estreno">Fecha de Estreno</label>
          </div>
          <div class="mb-3 form-floating">
            <select class="form-select" id="puntuacion" name="puntuacion" required>
              <option value="" disabled selected>Selecciona puntuación</option>
              <option value="1">★☆☆☆☆</option>
              <option value="2">★★☆☆☆</option>
              <option value="3">★★★☆☆</option>
              <option value="4">★★★★☆</option>
              <option value="5">★★★★★</option>
            </select>
            <label for="puntuacion">Puntuación</label>
          </div>
        </div>
        <div class="card-footer text-end">
          <button type="submit" class="btn btn-primary btn-sm">Guardar</button>
          <a href="./mant_peliculas" class="btn btn-secondary btn-sm">Cancelar</a>
        </div>
      </div>
    </form>
  </section>
</main>