body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}
aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100vh;
  background: #343a40;
  color: #fff;
  padding-top: 1rem;
  z-index: 2;
  transition: left 0.3s;
  font-size: 0.90rem;
}
aside a {
  color: #d9d8d8;
  text-decoration: none;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}
aside a:hover {
  background: #495057;
}
.page-wrapper {
  margin-left: 220px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-content {
  flex: 1 0 auto;
}
footer {
  background: #dce5ee;
  color: #6e6969;
  text-align: left;
  padding: 0.5rem 2rem;
  font-size: 0.90rem;
}
footer a {
  color: #0d6efd;
  text-decoration: none;
}
.navbar {
  color: #fff;
  z-index: 1;
  margin-bottom: 15px;
  border-bottom: 2px solid #e3e3e3;
}
.hide-aside aside {
  left: -220px;
}
.hide-aside .main-content,
.hide-aside .navbar,
.hide-aside footer {
  margin-left: 0;
}
.hide-aside .page-wrapper {
  margin-left: 0;
}